body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 562%; /* 100% - 16px */
  margin: 25px auto 0 auto ;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-weight: normal;
  line-height: 1.5;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size:2rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 1.5;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  line-height: 1.5;
}
hr  {
   border-style: none;
   border-top-style: dotted;
   border-color: #EAF6F6;
   border-width: 5px;
   height: 0px;
   width: 5%;
}
a {
  color: #4FA095;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}
a:hover {
  color: #425F57;
}
.topcontainer {
  position: relative;
  background-color: #CDFCF6;
  padding-top: 100px;
}
.summaryh2 {
  color: #66BFBF;
  font-weight: lighter;
  line-height: 1.5;
}
.planemoving {
  display: block;
  position: absolute;
  top: 280px;
  animation-name: slide;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-duration: 20s;
}
@keyframes slide
{
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
.sullydesc{
  text-align: center;
  width: 50%;
  margin: 100px auto 100px auto;
}
.middlecontainer
{

}
.skillrow {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.bottom-container {
  background-color: #CDFCF6;
  padding: 50px 0 20px ;
}

.finals {
  text-decoration: underline;
}
.profilepc {
  border-radius: 100%;
}
.pcpic {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.codpic {
  width: 25%;
  float: right;
  margin-right: 30px;
}
.coach {
  width: 45%;
  float: left;
  margin-right: 30px
}
.bottomcloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}
.topcloud {
  position: absolute;
  Right: 300px;
  top: 50px;
}
.summary {
  position: relative;
  top: 40px
}

.btn {
  background: #4FA095;
  background-image: -webkit-linear-gradient(top, #4FA095, #2980b9);
  background-image: -moz-linear-gradient(top, #4FA095, #2980b9);
  background-image: -ms-linear-gradient(top, #4FA095, #2980b9);
  background-image: -o-linear-gradient(top, #4FA095, #2980b9);
  background-image: linear-gradient(to bottom, #4FA095, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #B3FFAE, #3498db);
  background-image: -moz-linear-gradient(top, #B3FFAE, #3498db);
  background-image: -ms-linear-gradient(top, #B3FFAE, #3498db);
  background-image: -o-linear-gradient(top, #B3FFAE, #3498db);
  background-image: linear-gradient(to bottom, #B3FFAE, #3498db);
  text-decoration: none;
}
.copyright {
  color: #4FA095;
  font-size: 0.75rem;
  padding: 20px 0;
}
/*#B3FFAE nice colour */
